body {
    text-align: center;
}

.grid-square {
    width: 2.375rem;
    height: 2.375rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 38rem;
    border: solid 2px;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 .content {
     display: flex;
     justify-content: space-around;
 }